/******************************/
/* orange : #d35400  */
/* blue : #2980b9    */
/*pink : #8e44ad     */
/******************************/

/******************************/
/* global*/
/******************************/
*{
  margin: 0;
  padding:padding:0;
  box-sizing: border-box;
}

html{
  background: #fff;
  color: #555;
  font-family: 'lato','roboto','Arial','sanserif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

/******************************/
/*header*/
/******************************/
header{
  background-image: linear-gradient(rgba(95, 88, 152, 0.47), rgba(8, 8, 8, 0.51)), url('../img/header-logo.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.gontor-text-box{
  position: absolute;
  width: 1140;
  top: 45%;
  left: 21%;
  transform: translate(-50%, -50%;);
}
header h1{
  margin-top:0;
  margin-bottom: 10px;
  color: #ecf0f1;
  font-size: 220%;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  transition: color 0.5s;
}
 h1:hover{
  color: #455A64;
}

/******************************/
/*button*/
/******************************/
.btn:link, .btn:visited{
  margin-right: 15px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 250;
  text-decoration-color:none;
  border-radius: 400px;
  color: aqua;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-about:link,
.btn-about:visited{
  /* background: #d35400; */
  border: 2px solid #d35400;
}

.btn-branch:link,
.btn-branch:visited{
  border: 2px solid #2980b9;
}

.btn-contact:link,
.btn-contact:visited{
  border: 2px solid #8e44ad;
}

.btn-about:hover, .btn-about:active{
  background-color: #d35400;
  color:#fff;
}
.btn-branch:hover, .btn-branch:active{
  background-color: #2980b9;
  color:#fff;
}

.btn-contact:hover, .btn-contact:active{
  background-color: #8e44ad;
  color:#fff;
}

/******************************/
/*nav */
/******************************/
.logo {
  float: left;
  height: 150px;
  width: auto;
  margin-top:-10px;
  margin-left:25px;
  padding: 0 10px;
  position: absolute;
  transform: scale(1);


}

.logo:hover{
  transform: scale(1.05);
  transition: 0.5s;
}

.main-nav, .navbar-left {
  float: left;
  list-style: none;
  margin-top:30px;
  margin-left: 130px;
  /* padding-right: 5px;; */

}
.main-nav li{
  display: inline-block;
  padding:0 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 3px 0;
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  transition: border-bottom 0.3s;

}

.main-nav  li .about:hover,
.main-nav  li .about:active{
  color: #d35400;
  border-bottom: 2px solid #d35400;
}
.main-nav  li .gontorBranch:hover,
.main-nav  li .gontorBranch:active{
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
}
.main-nav  li .contact:hover,
.main-nav  li .contact:active{
  color: #8e44ad;
  border-bottom: 2px solid #8e44ad;

}

.second-nav,
.navbar-right {
  margin-top:30px;
  margin-right: 50px;
  padding: 0;

  list-style: none;
}

.second-nav li{
  display: inline-block;

}
/*
#d35400
#2980b9
#8e44ad */

.second-nav li a:link,
.second-nav li a:visited{
  padding: 2px 0;
  font-weight: 500;
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  transition: border-bottom 0.3s;

}
.second-nav li a:hover,
.second-nav li a:active{
  border-bottom: 2px solid #16a085;
  color: #16a085;
}

footer{
  background-color: #333;
  color:#ffffff;
}
.footer-nav{
float:right;
list-style: none;

}

.social-links{
  float: left;
}
